body{
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
background-color: #D5E1EF;
align-items: center;
height: 100vh;
margin: 0px;

}
.card{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    width: 70%;
    max-width: 400px;
    overflow: hidden;
    padding: 16px;
    border-radius: 20px;
    right: 50%;
    height: auto;
}
h1{
    color: #171F2F;
}
.card p{
    color: #737375;
}
.card img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
}
